{% extends "base.html" %}
{% block header %}
    {% set active_page = "home" %}
    {% include "header.html" %}
{% endblock %}
{% block body %}
    {% if current_book is none %}
    <div class="page-header"><h1>Зараз не читаємо книг :(</h1></div>
    {% else %}
    <div class="page-header"><h1>Зараз читаємо</h1></div>
    <p class="lead">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4"><img src="{{ current_book.img }}" class="img-thumbnail"></div>
        <div class="col-md-6">
            <h2>{{ current_book.book_author }} - {{ current_book.book_name }}</h2> <br />
            {{ current_book.description }}
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row starter-template">
        <div id="message"></div>
        <form class="form-inline" method="POST" id="progress-form" role="form">
            <input type="hidden" name="book_id" value={{current_book.id}}>
            <h1>Я прочитав
                <div class="input-group">
                    {{ form.hidden_tag() }}
                    {{ form.progress(class_='form-control', min='0', max='100', style='width:70px') }}
                </div>
                %
            </h1>

            <button type="submit" id="submit-button" class="btn btn-primary">Відновити дані</button>
        </form>

        <div id="response"></div>

        <script>
            $(function() {
                $("#submit-button").click(function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: "/progress/update",
                        type: 'POST',
                        data: $("#progress-form").serialize(),
                        beforeSend: function() {
                            $("#message").html("sending...");
                        },
                        success: function(data) {
                            $("#message").hide();
                            $("#response").html(data);
                        }
                    });
                });
            });
        </script>
    </div>
    {% endif %}
    <noscript>Please enable JavaScript to check-in</noscript>
{% endblock %}
