{% extends "base.html" %}
{% block header %}
    {% set active_page = "books" %}
    {% include "header.html" %}
{% endblock %}
{% block css %}
    {{ stylesheet("//cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.7.0/css/bootstrap-markdown.min.css") }}
    {{ stylesheet("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css") }}
{% endblock %}
{% block scripts %}
    {{ javascript("https://toopay.github.io/bootstrap-markdown/js/to-markdown.js")}}
    {{ javascript("https://toopay.github.io/bootstrap-markdown/js/markdown.js") }}
    {{ javascript("//cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.7.0/js/bootstrap-markdown.min.js") }}
{% endblock %}
{% block body %}
    <form class="form" method="POST" id="add-book" role="form">
        {{ form.hidden_tag() }}

        {{ form_item(form.author(class_='form-control', placeholder='Автор книги'), 'Автор книги') }}
        {{ form_item(form.name(class_='form-control', placeholder='Назва книги'), 'Назва книги') }}
        {{ form_item(form.img(class_='form-control', placeholder='URL на картинку для залучення уваги :)'), 'URL на картинку для залучення уваги :)') }}
        {{ form_item(form.url(class_='form-control', placeholder='URL на додаткову інформацію'), 'URL на додаткову інформацію') }}
        {{ form_item(form.description(placeholder='Опис книги'), 'Опис книги') }}

        <div class="form-group">
            <div class="md-preview"></div>
        <div>

        <button type="submit" id="submit-button" class="btn btn-primary">Відновити</button>

        <div id="message"></div>
        <div id="status"></div>
    </form>

    <script>
        $("textarea#description").markdown({
            resize:'vertical',
            iconlibrary:'fa',
            hiddenButtons: ['Preview', 'Code'],
            onShow: function(e){
                $(".md-preview").html(e.parseContent())
            },
            onChange: function(e) {
                $(".md-preview").html(e.parseContent())
            }})

        $(function() {
            $("#submit-button").click(function(e) {
                e.preventDefault();
                $.ajax({
                    url: "/books/update",
                    type: 'POST',
                    data: $("#add-book").serialize(),
                    beforeSend: function() {
                        $("#message").html("sending...");
                    },
                    success: function(data) {
                        var json_data = jQuery.parseJSON(data);
                        if (json_data["type"] == "error") {
                            $("#message").hide();
                            $("#status").addClass("bg-danger");
                            $("#status").html(json_data["message"]);
                        }
                        else {
                            window.location.replace("/books");
                        }
                    }
                });
            });
        });
    </script>

    * Обов’язкові поля
{% endblock %}