body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.main {
  padding-top:50px;
}

/* Progress */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


/* Markdown editor */

.md-editor {
  display: block;
  border: none;
}

.md-footer, .md-editor > .md-header {
    background: none;
}

.md-editor > textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  height: auto;
  overflow: auto;
}

.md-editor > textarea:focus {
  border-color: #66AFE9;
  outline: 0px none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

.md-editor > .md-preview {
  border: none;
  padding-top: 5px;
  padding-left: 15px;
}

.md-editor.active {
  box-shadow: none;
}