{% extends "base.html" %}
{% block header %}
    {% set active_page = "blog" %}
    {% include "header.html" %}
{% endblock %}
{% block css %}
    {{ stylesheet("//cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.7.0/css/bootstrap-markdown.min.css") }}
    {{ stylesheet("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css") }}
    {{ stylesheet("https://timschlechter.github.io/bootstrap-tagsinput/examples/lib/bootstrap-tagsinput/bootstrap-tagsinput.css") }}
{% endblock %}
{% block scripts %}
    {{ javascript("https://toopay.github.io/bootstrap-markdown/js/to-markdown.js") }}
    {{ javascript("https://toopay.github.io/bootstrap-markdown/js/markdown.js") }}
    {{ javascript("//cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.7.0/js/bootstrap-markdown.min.js") }}
{% endblock %}
{% block body %}
    <form class="form" method="POST" id="add-post" role="form">
        {{ form.hidden_tag() }}

        {{ form_item(form.topic(class_='form-control', placeholder='Топік'), "Заголовок") }}
        {{ form_item(form.content(placeholder='Багато букафф'), "Текст") }}

        <div class="form-group">
            <div class="md-preview"></div>
        <div>

        {{ form_item(form.tags(class_='form-control', placeholder='сюди введіть теги', **{'data-role':'tagsinput'}), "Теги") }}

        <button type="submit" id="submit-button" class="btn btn-primary">Відновити</button>

        <div id="message"></div>
        <div id="status"></div>
    </form>

    <script>
        $("textarea#content").markdown({
            resize:'vertical',
            iconlibrary:'fa',
            hiddenButtons: ['Preview', 'Code'],
            onShow: function(e){
                $(".md-preview").html(e.parseContent())
            },
            onChange: function(e) {
                $(".md-preview").html(e.parseContent())
            }})

        // TODO: Refactor this and a function in books_add.html
        $(function() {
            $("#submit-button").click(function(e) {
                e.preventDefault();
                $.ajax({
                    url: "/blog/update",
                    type: 'POST',
                    data: $("#add-post").serialize(),
                    beforeSend: function() {
                        $("#message").html("sending...");
                    },
                    success: function(data) {
                        var json_data = jQuery.parseJSON(data);
                        if (json_data["type"] == "error") {
                            $("#message").hide();
                            $("#status").addClass("bg-danger");
                            $("#status").html(json_data["message"]);
                        }
                        else {
                            window.location.replace("/blog");
                        }
                    }
                });
            });
        });
    </script>
    * Обов’язкові поля
    {{ javascript("https://timschlechter.github.io/bootstrap-tagsinput/examples/lib/bootstrap-tagsinput/bootstrap-tagsinput.js") }}
{% endblock %}
