{% extends "base.html" %}
{% block header %}
    {% set active_page = "blog" %}
    {% include "header.html" %}
{% endblock %}
{% block body %}
    <div class="blog-header">
        <h1 class="blog-title">Блог книжкового клубу</h1>
        <p class="lead blog-description">Бла-бла-бла</p>
    </div>

    {% if current_user.is_authenticated() %}
    <a href="/blog/add">
        <div type="submit" id="submit-button" class="btn btn-primary" style="margin-bottom:20px">
            Написати багато літер
        </div>
    </a>
    {% endif %}

    {% if posts|length == 0 %}
        <h2>Ніхто нічого ще не написав :((</h2>
    {% else %}
    <div class="row">
        <div class="col-sm-8 blog-main">
        {% for post in posts %}
            <div class="blog-post">
                <h2 class="blog-post-title"><a href="/blog/{{ post.id }}">{{ post.topic }}</a></h2>
                <p class="blog-post-meta">
                    {{ post.timestamp }} написав {{ post.user_first_name }} {{ post.user_last_name }}
                </p>

                {{ post.content|markdown }}

                <p class="blog-post-meta">
                    Останні зміни: {{ post.last_update }}
                </p>
            </div>
            <hr />
        {% endfor %}
        </div>
    </div>
    {% endif %}
    {% include "pager.html" %}
{% endblock %}
