{% macro stylesheet(url) -%}
    <link rel="stylesheet" href="{{ url }}" />
{%- endmacro %}
{% macro javascript(url) -%}
    <script src="{{ url }}"></script>
{%- endmacro %}
{% macro form_item(item, label, required=True) -%}
    <div class="form-group">
        <label>{{ label }} {% if required %}*{% endif %}</label>
        <p>{{ item }}</p>
    </div>
{%- endmacro %}
<!DOCTYPE html>
<html>
<head>
    <title>Exclusive Book Club Home Page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/ua.png') }}" />

    {{ stylesheet("//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css") }}
    {% block css %}{% endblock %}
    {% assets "css_all" %}
    {{ stylesheet(ASSET_URL) }}
    {% endassets %}
</head>
<body>
{% block header %}{% endblock %}
<div class="container">
    <div class="main">
    <noscript>
        <div class="bs-callout bs-callout-danger">
            Please enable javascript to process all interface elements correctly
        </div>
    </noscript>
    {% block body %}{% endblock %}
    </div>
</div>
<center style="margin-top:20px">
    <a href="https://www.python.org/"><img src="{{ url_for('static', filename='img/python-powered.jpg') }}"/></a>
    <a href="https://github.com/Ignotus/bookclub"><img src="{{ url_for('static', filename='img/github.jpg') }}"/></a>
</center>
    {{ javascript("//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js") }}
    {{ javascript("//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js") }}
    {% block scripts %}{% endblock %}
</body>
</html>
