{# home.html #}
{% extends "base.html" %}
{% block body %}
{% set active_page = "books" %}
{% include "header.html" %}
<div class="container">
    <div class="main">
        <form class="form" method="POST" id="add-book" role="form">
            {% if book_data is defined %}
                <input type="hidden" name="id" value={{book_data.id}}>
            {% endif %}
            <div class="form-group">
                <label>Автор книги</label>
                <input type="text" class="form-control" id="author" name="author" placeholder="Автор книги" {% if book_data is defined %}value="{{ book_data.book_author }}" {% endif %}>
            </div>
            <div class="form-group">
                <label>Назва книги</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Назва книги" {% if book_data is defined %}value="{{ book_data.book_name }}" {% endif %}>
            </div>

            <div class="form-group">
                <label>URL на картинку для залучення уваги :)</label>
                <input type="text" class="form-control" id="img" name="img" placeholder="Посилання на картинку" {% if book_data is defined %}value="{{ book_data.img }}" {% endif %}>
            </div>

            <div class="form-group">
                <label>URL на додаткову інформацію</label>
                <input type="text" class="form-control" id="url" name="url" placeholder="Посилання на додаткову інформацію" {% if book_data is defined %}value="{{ book_data.url }}" {% endif %}>
            </div>

            <div class="form-group">
                <label>Опис книги</label>
                <textarea class="form-control" id="description" name="description" placeholder="Опис книги">{% if book_data is defined %}{{ book_data.description }}{% endif %}</textarea>
            </div>

            <button type="submit" id="submit-button" class="btn btn-default">{% if book_data is defined %}Відновити{% else %}Додати{% endif %}</button>

            <div id="message"></div>
            <div id="status"></div>
        </form>

        <script>
              $(function() {
                $("#submit-button").click(function(e) {
                  e.preventDefault();
                  $.ajax({
                    url: "/books/{% if book_data is defined %}update{% else %}add/submit{% endif %}",
                    type: 'POST',
                    data: $("#add-book").serialize(),
                    beforeSend: function() {
                      $("#message").html("sending...");
                    },
                    success: function(data) {
                      var json_data = jQuery.parseJSON(data);
                      if (json_data["type"] == "error") {
                        $("#message").hide();
                        $("#status").addClass("bg-danger");
                        $("#status").html(json_data["message"]);
                      }
                      else {
                        window.location.replace("/books");
                      }
                    }
                  });
                });
              });
        </script>
    </div>
</div>
{% endblock %}