{# home.html #}
{% extends "base.html" %}
{% block body %}
{% set active_page = "books" %}
{% include "header.html" %}
<div class="container">
    <div class="main">
        <div type="submit" id="submit-button" class="btn btn-default" style="margin-bottom:20px"><a href="/books/add">Додати книгу до бібліотеки</a></div>
        {% for book in books %}
        <div class="panel panel-default">
            <div class="panel-heading">{{book.book_author}} - {{ book.book_name }}</div>
            <div class="panel-body">
                <div class="col-md-4"><img src="{{ book.img }}" class="img-thumbnail"></div>
                <div class="col-md-6"><p>{{ book.description }}</p><p><a href="{{ book.url }}">Детальніше</a></p></div>
            </div>
            <div class="panel-footer"><a href="/books/edit/{{ book.id }}">Виправити</a> | <a href="/books/delete/{{ book.id }}">Видалити</a> | <a href="/progress/book/{{ book.id }}">Прогрес по книзі</a> | <a href="/books/comment/{{ book.id }}">Коментувати</a>  | <a href="/books/read/{{ book.id }}">Читаємо зараз цю книгу</a></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}