{% set navigation_bar = [
    ('/home', 'home', 'Хоум'),
    ('/blog', 'blog', 'Блог'),
    ('/progress', 'progress', 'Прогрес'),
    ('/books', 'books', 'Ліба'),
    ('/calendar', 'calendar', 'Зустрічі')
] -%}
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
        <span class="blog-nav-item"><b>Exclusive Book Club</b></span>
        {% for href, id, caption in navigation_bar %}
        {% if id == active_page %}
            <a class='blog-nav-item active' href="{{ href }}" id="{{ id }}">
                {{ caption }}
            </a>
        {% else %}
            <a class='blog-nav-item' href="{{ href }}" id="{{ id }}">
                {{ caption }}
            </a>
        {% endif %}
        {% endfor %}

        {% if current_user.is_authenticated() %}
            <a class="blog-nav-item-right" href="/auth/logout">Logout</a>
            <span class="blog-nav-item-right" href="#">Йоу, {{ current_user.first_name }}! Як справи?</span>
        {% else %}
            <a class="blog-nav-item-right" href="/auth">Аааавторизуватися</a>
        {% endif %}
        </nav>
    </div>
</div>