{# home.html #}
{% extends "base.html" %}
{% block body %}
{% set active_page = "home" %}
{% include "header.html" %}
<div class="container">
    <div class="jumbotron">
        <div class="page-header"><h1>Зараз читаємо</h1></div>
        <p class="lead">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4"><img src="{{ current_book.img }}" class="img-thumbnail"></div>
            <div class="col-md-6">
                <h2>{{ current_book.book_author }} - {{ current_book.book_name }}</h2> <br />
                {{ current_book.description }}
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row starter-template">
            <div id="message"></div>
            <form class="form-inline" method="POST" id="progress-form" role="form">
                <input type="hidden" name="book_id" value={{current_book.id}}>
                <h1>Я прочитав
                    <div class="input-group spinner">
                        <input type="text" name="progress" class="form-control" value="{% if last_progress_info is none %}0{% else %}{{ last_progress_info.progress }}{% endif %}">
                        <div class="input-group-btn-vertical">
                            <div class="btn btn-default"><i class="fa fa-caret-up"></i></div>
                            <div class="btn btn-default"><i class="fa fa-caret-down"></i></div>
                        </div>
                    </div>
                    %
                </h1>

                <button type="submit" id="submit-button" class="btn btn-default">Відновити дані</button>
            </form>

            <div id="response"></div>

            <script>
              (function ($) {
                  $('.spinner .btn:first-of-type').on('click', function() {
                      $('.spinner input').val( parseInt($('.spinner input').val(), 10) + 1);
                  });
                  $('.spinner .btn:last-of-type').on('click', function() {
                      $('.spinner input').val( parseInt($('.spinner input').val(), 10) - 1);
                  });
              })(jQuery);

              $(function() {
                $("#submit-button").click(function(e) {
                  e.preventDefault();
                  $.ajax({
                    url: "/progress/update",
                    type: 'POST',
                    data: $("#progress-form").serialize(),
                    beforeSend: function() {
                      $("#message").html("sending...");
                    },
                    success: function(data) {
                      $("#message").hide();
                      $("#response").html(data);
                    }
                  });
                });
              });
            </script>
        </div>
        </p>
    </div>

</div><!-- /.container -->
{% endblock %}
