{# home.html #}
{% extends "base.html" %}
{% block body %}
{% set active_page = "home" %}
{% include "header.html" %}
<div class="container">
    <div class="jumbotron">
        <h1>Зараз читаємо</h1>
        <p class="lead">
        <div class="row">
            <div class="col-md-4"><img src="{{ current_book.img }}" class="img-thumbnail"></div>
            <div class="col-md-8">
                <h2>{{ current_book.book_author }} - {{ current_book.book_name }}</h2> <br />
                {{ current_book.description }}
            </div>
        </div>

        <div class="row starter-template">
            <div id="message"></div>
            <form class="form-inline" method="POST" id="progress-form" role="form" action="/update_progress">
                <input type="hidden" name="book_id" value={{current_book.id}}>
                <h1>Я прочитав
                    <input type="text" name="progress" size=2 class="form-control" value="{% if last_progress_info is none %}0{% else %}{{ last_progress_info.progress }}{% endif %}">
                    %
                </h1>

                <button type="submit" class="btn btn-default">Відновити дані</button>
            </form>

            <div id="response"></div>

            <script>
              $(function() {
                $("#progress-form").on("submit", function(e) {
                  e.preventDefault();
                  $.ajax({
                    url: $(this).attr("action"),
                    type: 'POST',
                    data: $(this).serialize(),
                    beforeSend: function() {
                      $("#message").html("sending...");
                    },
                    success: function(data) {
                      $("#message").hide();
                      $("#response").html(data);
                    }
                  });
                });
              });
            </script>
        </div>
        </p>
    </div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

{% endblock %}
