{% extends "base.html" %}
{% block header %}
    {% set active_page = "progress" %}
    {% include "header.html" %}
{% endblock %}
{% block css %}
    {{ stylesheet("//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.css") }}
{% endblock %}
{% block scripts %}
    {{ javascript("//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js") }}
    {{ javascript("//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.js") }}
{% endblock %}
{% block body %}
    <div class="page-header"><h1>{{ book.book_author }} - {{ book.book_name }}</h1></div>

    <div id='chart'>
        <svg style='height:500px; width:1000px;'> </svg>
    </div>
    <script>
        d3.json('/progress/data/{{ book.id }}', function(data) {
            nv.addGraph(function() {
                var chart = nv.models.cumulativeLineChart()
                    .x(function(d) { return d[0] })
                    .y(function(d) { return d[1]/100 }) //adjusting, 100% is 1.00, not 100 as it is in the data
                    .color(d3.scale.category10().range())
                    .showControls(false)
                    ;

                chart.xAxis
                    .tickFormat(function(d) {
                        return d3.time.format('%x')(new Date(d))
                    });

                chart.yAxis
                    .tickFormat(d3.format(',.1%'));

                d3.select('#chart svg')
                    .datum(data)
                    .call(chart);

                //TODO: Figure out a good way to do this automatically
                nv.utils.windowResize(chart.update);

                return chart;
            });
        });
    </script>
{% endblock %}
